package io.github.spencerau.cpsc298.datagen;

import net.minecraft.data.DataGenerator;
import net.minecraftforge.common.data.ExistingFileHelper;
import net.minecraftforge.data.event.GatherDataEvent;
import net.minecraftforge.eventbus.api.SubscribeEvent;
import net.minecraftforge.fml.common.Mod;
import net.minecraftforge.client.model.generators.BlockStateProvider;

@Mod.EventBusSubscriber(bus = Mod.EventBusSubscriber.Bus.MOD)
public class ModBlockStates extends BlockStateProvider {
    public ModBlockStates(DataGenerator gen, ExistingFileHelper exFileHelper) {
        super(gen, "{{ modid }}", exFileHelper);
    }

    @Override
    protected void registerStatesAndModels() {
    {{ registrations }}
    }

    @SubscribeEvent
    public static void gatherData(GatherDataEvent event) {
        ModBlockStates provider = new ModBlockStates(event.getGenerator(), event.getExistingFileHelper());
        event.getGenerator().addProvider(provider);
    }
}